<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="system.dal.Properties.Settings.Sales_SystemConnectionString"
            connectionString="Data Source=LAPTOP-E6DMLRUT\MSSQLSEVER;Initial Catalog=Sales_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>